extends ../layout

mixin bracketed (content, separator-before, separator-after)
  span.link-color= separator-before + "(" + content + ")"
  if separator
    | #{separator}

mixin name-and-level(item)
  span.name= item.name
  span(class= 'level ' + item.level)= item.level


mixin image-or-span(item)
  if item.img
    img(
      src= item.img
      alt= item.name
    )
  else
    span= item.name

mixin link-or-image-or-span(item)
  if item.href
    a(href= item.href)
      +image-or-span(item)
  else
    +image-or-span(item)

mixin group(a)
  li
   header
     h5
       a(
         href= a.href
         target= a.target
       )= title
   .content
     a(
       href= a.href
       target= a.target
     )
       img(
         src= a.img
         alt= a.title
       )
     .description= a.description

block title
  title Jascha Ehrenreich, Magically Shifting Paradigms

block content
  include ../inc/index/about

  //- include ../inc/index/skills

  //- include ../inc/index/clients

  //- include ../inc/index/groups

  //- include ../inc/index/contact