section#projects
  header
    h2 Projects:
  .disclaimer.
    Those are some of the projects i worked on and want to endorse.

  ul
    li
      header
        h5
          a(
            href='http://magicshifter.net'
            target='_blank'
          ) MagicShifter - the Open Source Magic Lamp!

      .content
        a(
          href='http://magicshifter.net'
          target='_blank'
        )
          img(
            src='/img/magicshifter-logo.png'
            alt='magicshifter.net'
          )

        .description
          | An open source hardware gadget for lighting, gaming,
          | and persistence of vision applications.
          | Charge and reprogram it over usb!
          | Get one of the limited first batch

          a(
            target='hackerspaceshop'
            href='http://www.hackerspaceshop.com/magicshifter.html'
          )  @hackerspaceshop

          |.  The MagicShifter was created by
          a.person(
            href='https://metalab.at/wiki/Benutzer:Wizard23'
            target='wizard23'
          )  Philipp Tiefenbacher
          | .
          .testimonial
            | Every sufficiently advanced technology is indistinguishable from a MagicShifter
            p.author Arthur C. Clarke, Proud Owner
