extends ../layout

block title
  title Jascha Ehrenreich, Magically Shifting Paradigms

block content
  section.author
    .affiliations.list
      h2 Organizations
      .disclaimer
        | Groups i am proud to be a part of.
      ul
        li
          header
            h5
              a(
                href='http://bwb.is'
                target='bwb'
              ) Bitcoiners Without Borders
          .content
            a(
              href='https://bwb.is'
              target='bwb'
            )
              img(
                src='/img/bwb.png'
                alt='Bitcoiners Without Borders'
              )
            .description
              | We are a tribe of individuals tired of the destructive trip,
              | workin' on a better day.

        li
          header
            h5
              a(
                href='https://metalab.at'
                target='utopia'
              ) Metalab

          .content
            a(
              href='https://metalab.at'
              target='utopia'
            )
              img(
                src='/img/metalab.png'
                alt='metalab.at'
              )
            .description
              | The Metalab is
              s the
              |  a
              a(
                href='http://hackerspaces.org/wiki/'
              )  hackspace
              |  in
              span Vienna, Austria.
              |  Chances are high that i am sitting in the
              span Metalab lounge
              |  at this moment,
              | which means that i am at the exact position of the orange dot you can see on
              a(
                href='http://www.openstreetmap.org/node/254344537'
                target='utopia'
              )  Openstreetmap

    .projects.list
      header
        h2 Projects:
      .disclaimer.
        Those are some of the projects i worked on and want to endorse.

      ul
        li
          header
            h5
              a(
                href='http://magicshifter.net'
                target='_blank'
              ) MagicShifter - the Open Source Magic Lamp!

          .content
            a(
              href='http://magicshifter.net'
              target='_blank'
            )
              img(
                src='/img/magicshifter-logo.png'
                alt='magicshifter.net'
              )

            .description
              | An open source hardware gadget for lighting, gaming,
              | and persistence of vision applications.
              | Charge and reprogram it over usb!
              | Get one of the limited first batch

              a(
                target='hackerspaceshop'
                href='http://www.hackerspaceshop.com/magicshifter.html'
              )  @hackerspaceshop

              |.  The MagicShifter was created by
              a.person(
                href='https://metalab.at/wiki/Benutzer:Wizard23'
                target='wizard23'
              )  Philipp Tiefenbacher
              | .
              .testimonial
                | Every sufficiently advanced technology is indistinguishable from a MagicShifter
                p.author Arthur C. Clarke, Proud Owner

  .social
    .emails.list
      header Emails:
      ul
        li
          a(
            href='mailto://jascha@jaeh.at'
          ) jascha@jaeh.at

        li
          a(
            href='mailto://jascha@bwb.is'
          ) jascha@bwb.is

    .networks.list
      header Networks:
      ul
        li
          a(
            target='_blank'
            href='https://github.com/jaeh'
          )
            img(
              src='/img/social/github.png'
              alt='home of the octocat'
              title='home of the octocat'
            )

        li
          a(
            target='_blank'
            href='https://keybase.io/jascha'
          )
            img(
              src='/img/social/keybase.png'
              alt='keybase.io'
              title='my keybase.io profile'
            )

        li
          a(
            target='_blank'
            href='https://twitter.com/weirdpress'
          )
            img(
              src='/img/social/twitter.png'
              alt='twitter: @weirdpress'
              title='my twitter account'
            )

        li
          a(
            target='_blank'
            href='https://about.me/jascha.ehrenreich'
          )
            img(
              src='/img/social/aboutme.png'
              alt='about.me'
              title='my about.me page'
            )

        li
          a(
            target='_blank'
            href='https://suppe.jaeh.at'
          )
            img(
              src='/img/social/soup.png'
              alt='suppe. ja. eh.'
              title='soup (german: die suppe) is a social blogging network.'
            )

        li
          a(
            target='_blank'
            href='https://at.linkedin.com/in/jaschaehrenreich'
          )
            img(
              src='/img/social/linkedin.png'
              alt='linkedin'
              title='linkedin'
            )

        li
          a(
            target='_blank'
            href='https://facebook.com/jascha.ehrenreich'
          )
            img(
              src='/img/social/facebook.png'
              alt='facebook'
              title='it is the kraken.'
            )
