extends ../layout

block title
  title Jascha Ehrenreich, Magically Shifting Paradigms

block content
  section.affiliations.list
    h2 Organizations

    .disclaimer
      | Groups i am proud to be a part of.
    ul
      li
        header
          h5
            a(
              href='http://bwb.is'
              target='bwb'
            ) Bitcoiners Without Borders
        .content
          a(
            href='https://bwb.is'
            target='bwb'
          )
            img(
              src='/img/bwb.png'
              alt='Bitcoiners Without Borders'
            )
          .description
            | BitcoinersWithoutBorders is a group of individuals tired of the destructive trip,
            | workin' on a better day.

      li
        header
          h5
            a(
              href='https://metalab.at'
              target='utopia'
            ) Metalab

        .content
          a(
            href='https://metalab.at'
            target='utopia'
          )
            img(
              src='/img/metalab.png'
              alt='metalab.at'
            )
          .description
            | The Metalab is
            s the
            |  a
            a(
              href='http://hackerspaces.org/wiki/'
            ) hackspace
            |  in
            span(
            ) Vienna, Austria.
            |  Chances are high that i am sitting in the
            span Metalab lounge
            |  at this moment,
            | which means that i am at the exact position of the orange dot you can see on
            a(
              href='http://www.openstreetmap.org/node/254344537'
              target='utopia'
            ) Openstreetmap
      li
        header
          h5
            a(
              href='https://wizardsat.work'
              target='utopia'
            ) Wizards@Work

        .content
          a(
            href='https://wizardsat.work'
            target='utopia'
          )
            img(
              src='/img/wizardsatwork.png'
              alt='wizardsat.work'
            )
          .description
            | Wizards@Work is a tribe of scientists, hackers, engineers, programmers, and other maniacs.
            | We are magically shifting paradigms.


  section.social-networks.list
    header Networks:
    ul
      li
        a(
          target='_blank'
          href='https://github.com/jaeh'
        ) github

      li
        a(
          target='_blank'
          href='https://keybase.io/jascha'
        ) keybase

      li
        a(
          target='_blank'
          href='https://twitter.com/weirdpress'
        ) twitter

      li
        a(
          target='_blank'
          href='https://about.me/jascha.ehrenreich'
        ) about.me

      li
        a(
          target='_blank'
          href='https://suppe.jaeh.at'
        ) soup.io

      li
        a(
          target='_blank'
          href='https://facebook.com/jascha.ehrenreich'
        ) facebook