
  section#social-networks.list
    header Networks:
    ul
      li
        a(
          target='_blank'
          href='https://github.com/jaeh'
        ) github

      li
        a(
          target='_blank'
          href='https://keybase.io/jascha'
        ) keybase

      li
        a(
          target='_blank'
          href='https://twitter.com/weirdpress'
        ) twitter

      li
        a(
          target='_blank'
          href='https://about.me/jascha.ehrenreich'
        ) about.me

      li
        a(
          target='_blank'
          href='https://suppe.jaeh.at'
        ) soup.io

      li
        a(
          target='_blank'
          href='https://facebook.com/jascha.ehrenreich'
        ) facebook


  section#skills
    h3 skillset
    div.description
      | The following lists describe the tools, skills and frameworks
      |  that i have used in production
      |  both for client and hobby projects.

    ul.languages
      lh languages:
      li
        | clojure
        +bracketed("script", "", ",")
      li
        | javascript
        +bracketed("node and browser", " ", ",")
      li
        | html
        +bracketed("jade, handlebars, etc", " ", ",")
      li
        | css
        +bracketed("stylus, less, sass, etc", " ", ",")

      li php,
      li python,
      li c#,
      li
        | c
        +bracketed("++", "", ",")
      li actionscript

    ul.tech-stack
      lh tech stack:

      ul.tools
        lh tools:
        li browserify,
        li gulp,
        li grunt,
        li webpack,
        li leiningen,
        li docker

      ul.servers
        lh servers:
        li nginx
        li apache
        li jetty

      ul.databases
        lh databases:
        li mongodb,
        li postgres,
        li mariadb, mysql,
        li sqlite,
        li datomic,

      ul.frameworks
        lh frameworks
        li om
        li wordpress,
        li meteorjs
        li nodejs,
        li express,
        li koa,
        li meteorjs,
        li react, relay, flux, immutablejs

      ul.game-engines
        lh game engines:
        li unity3d,
        li flash,
        li blender,

    ul.client-work
      lh client work:

      ul
        lh webdevelopment:
        li
          h3 bitcoin foundation - 2013-2014
          p
            | built a social network,
            |  migrated database including 2000 members from a legacy python codebase to wordpress and buddypress.
            |  the platform was working for three days after my ssh keys got revoked,
            |  and has been broken since then.

          p
            | i also built small and medium homepages
            |  for around 80 different clients,
            |  including individuals,
            |  companies with 5-50 employees
            |  and multiple small to medium sized non-governmental and non-profit organizations.

        lh games:
        li
          h3 jowood - 2002-2003
          p
            | back then was the biggest austrian game publisher,
            | worked as part of a indie studio
            | on a point and click game for 10 months before jowood descided to cut costs.

          p i also built multiple minigames for small and medium businesses.

